<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="__PUBLIC__/Admin/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>流体石头</p>
                <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="搜索...">
                <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu">
            <li class="header">主导航</li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>仪表盘</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?php echo U('Index/index'); ?>"><i class="fa fa-circle-o"></i> 仪表盘 v1</a></li>
                    <li><a href="<?php echo U('Index/index2'); ?>"><i class="fa fa-circle-o"></i> 仪表盘 v2</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>界面选项</span>
                    <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="<?php echo U('Layout/topNav'); ?>"><i class="fa fa-circle-o"></i> 顶部导航</a></li>
                    <li><a href="<?php echo U('Layout/boxed'); ?>"><i class="fa fa-circle-o"></i> 盒子布局</a></li>
                    <li><a href="<?php echo U('Layout/fixed'); ?>"><i class="fa fa-circle-o"></i> 固定布局</a></li>
                </ul>
            </li>
            <li>
                <a href="widgets.html">
                    <i class="fa fa-th"></i> <span>小部件</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-green">新</small>
            </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>图表</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="chartjs.html"><i class="fa fa-circle-o"></i> JS图表</a></li>
                    <li><a href="morris.html"><i class="fa fa-circle-o"></i> 遍历</a></li>
                    <li><a href="flot.html"><i class="fa fa-circle-o"></i> Flot</a></li>
                    <li><a href="inline.html"><i class="fa fa-circle-o"></i> 内嵌图表</a></li>
                    <li><a href="collapsed-sidebar.html"><i class="fa fa-circle-o"></i> 折叠侧栏</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>UI元素</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="general.html"><i class="fa fa-circle-o"></i> 一般</a></li>
                    <li><a href="icons.html"><i class="fa fa-circle-o"></i> 图标</a></li>
                    <li><a href="buttons.html"><i class="fa fa-circle-o"></i> 按钮</a></li>
                    <li><a href="sliders.html"><i class="fa fa-circle-o"></i> 滑动条</a></li>
                    <li><a href="timeline.html"><i class="fa fa-circle-o"></i> 时间行</a></li>
                    <li><a href="modals.html"><i class="fa fa-circle-o"></i> 模式</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>表单</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="general.html"><i class="fa fa-circle-o"></i> 普通元素</a></li>
                    <li><a href="advanced.html"><i class="fa fa-circle-o"></i> 高级元素</a></li>
                    <li><a href="editors.html"><i class="fa fa-circle-o"></i> 编辑</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>表格</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="simple.html"><i class="fa fa-circle-o"></i> 简单表格</a></li>
                    <li><a href="data.html"><i class="fa fa-circle-o"></i> 数据表格</a></li>
                </ul>
            </li>
            <li>
                <a href="calendar.html">
                    <i class="fa fa-calendar"></i> <span>日历</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
                </a>
            </li>
            <li>
                <a href="mailbox.html">
                    <i class="fa fa-envelope"></i> <span>邮箱</span>
                    <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
                </a>
            </li>
            <li class="treeview active">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>例子</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="invoice.html"><i class="fa fa-circle-o"></i> 发票</a></li>
                    <li><a href="profile.html"><i class="fa fa-circle-o"></i> 简单</a></li>
                    <li><a href="login.html"><i class="fa fa-circle-o"></i> 登录</a></li>
                    <li><a href="register.html"><i class="fa fa-circle-o"></i> 注册</a></li>
                    <li><a href="lockscreen.html"><i class="fa fa-circle-o"></i> 锁屏</a></li>
                    <li class="active"><a href="404.html"><i class="fa fa-circle-o"></i> 404错误</a></li>
                    <li><a href="500.html"><i class="fa fa-circle-o"></i> 500错误</a></li>
                    <li><a href="blank.html"><i class="fa fa-circle-o"></i> 空白页面</a></li>
                    <li><a href="pace.html"><i class="fa fa-circle-o"></i> 一页</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>多层级</span>
                    <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> 一级</a></li>
                    <li>
                        <a href="#"><i class="fa fa-circle-o"></i> 一级
                            <span class="pull-right-container">
                  <i class="fa fa-angle-left pull-right"></i>
                </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> 二级</a></li>
                            <li>
                                <a href="#"><i class="fa fa-circle-o"></i> 二级
                                    <span class="pull-right-container">
                      <i class="fa fa-angle-left pull-right"></i>
                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> 三级</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> 三级</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> 一级</a></li>
                </ul>
            </li>
            <li><a href="../documentation/index.html"><i class="fa fa-book"></i> <span>文档</span></a></li>
            <li class="header">标签</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>重要</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>警告</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>信息</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>